<a href="https://colab.research.google.com/github/dalyapraz/SheLovesData/blob/master/(my_copy)_SLD_Workshop_with_Python_(Part_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![SheLovesData](https://shelovesdata.com/wp-content/uploads/2018/06/she-loves-data-wide@2xv2.png)

# Introduction to Python programming

## Your First Program



```
print("Hello World")
```

Type the above code into the cell below and click the small **play** button to run the code

Hello World

## 1.Variables and Fundamental types

**1.1** Variables

---



Variables are containers for storing data values.
A variable is created the moment you first assign a value to it and it will be stored in this container until you assign a new value to it.

In [0]:
# variable assignments
x = 1.0
number = 1
words = "Welcome to SheLovesData Workshop "

Now let's `print` the result. Once you assign the variable you can access it anytime down the code

*Note: you can type comments in the code, start with a `#`, and Python will ignore them*

In [0]:
# <---- this is comment
print(x) 
print(number)
print(words)

1.0
1
Welcome to SheLovesData Workshop

**Task:** 

1.   Assign a value of your name to a new variable **`name`**
2.   And **`print`** your name

Some rules for variable names:

In [0]:
#Legal variable names:
myvar = "John"        # letters
my_var = "John"       # underscore between letters
_my_var = "John"      # underscore at the beginning
myVar = "John"        # caps
MYVAR = "John"        # all caps
myvar2 = "John"       # mix with numbers

# Note: Python is case sensitive, meaning myvar and myVar are not the same variables

#Illegal variable names:
2myvar = "John"
my var = "John"
my-var = "John"
my%var = "John"

**1.2** Data Types

---



In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

*   **Numeric Types**:	int, float, *complex*
*   **Text Type**:	str
*   **Boolean Type**:	bool
*   **Sequence Types**:	list, *tuple, range*
*   *Mapping Type*:	*dict*

Let's check what types are our variables

In [0]:
print(x, type(x))
print(number,type(number))

1.0 <class 'float'>
1 <class 'int'>

**Task:**

Check what type is your variable with your name in it

Dalya <class 'str'>

**Booleans**


Booleans represent one of two values: **`True`** or **`False`**.

In [0]:
# boolean
b1 = True
b2 = False

type(b1)

str

**Lists**


There are several collection data types in the Python programming language, but we will cover **lists** only. 

*  **List** is a collection which is ordered and changeable. Allows duplicate members.
*  **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
*  **Set** is a collection which is unordered and unindexed. No duplicate members.
*  **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.


**Lists** are very similar to strings, except that each element can be of any type. In Python **lists** are written with square `[ ]` brackets:

In [0]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

**Task**

Make a list of your favorite colors and name the list **`my_colors`**. 

**`print`** your list.

## 2.Operators and comparisons

Most operators and comparisons in Python work as we would expect:

**Arithmetic operators:**
<table><thead>
<tr>
<th style="text-align: center">Operator</th>
<th>What it means</th>
</tr>
</thead><tbody>
<tr>
<td style="text-align: center">+</td>
<td>Addition</td>
</tr>
<tr>
<td style="text-align: center">-</td>
<td>Subtraction</td>
</tr>
<tr>
<td style="text-align: center">*</td>
<td>Multiplication</td>
</tr>
<tr>
<td style="text-align: center">/</td>
<td>Division</td>
</tr>
<tr>
<td style="text-align: center">**</td>
<td>Exponentiation</td>
</tr>
<tr>
</tbody></table>

In [0]:
# Addition
x = 2
y = 3
print(x+y)

5

In [0]:
# Note! The power operators in python isn't ^, but **

print(x**y)

8

**Task**

Try a different operation.

-1

You can even add two **`strings`**

In [0]:
print(words + name)

Welcome to SheLovesData Workshop Dalya

**Comparison operators**

In programming you often need to know if an expression is **`True`** or **`False`**.

You can evaluate any expression in Python, and get one of two answers, **`True`** or **`False`**.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [0]:
print(10 > 9)
print(10 == 9) # make sure you use == instead =
print(10 < 9)

True
False
False

**Comparison operators** are used to compare two values:

 <table><thead>
<tr>
<th style="text-align: center">Operator</th>
<th>What it means</th>
</tr>
</thead><tbody>
<tr>
<td style="text-align: center">==</td>
<td>Equal to</td>
</tr>
<tr>
<td style="text-align: center">!=</td>
<td>Not equal to</td>
</tr>
<tr>
<td style="text-align: center">&lt;</td>
<td>Less than</td>
</tr>
<tr>
<td style="text-align: center">&gt;</td>
<td>Greater than</td>
</tr>
<tr>
<td style="text-align: center">&lt;=</td>
<td>Less than or equal to</td>
</tr>
<tr>
<td style="text-align: center">&gt;=</td>
<td>Greater than or equal to</td>
</tr>
</tbody></table>

**Task**

Create a new variable **`my_age`** and assign the value of your age. 

Check using operator if you are **18 or over**.


## 3.Conditional Statements

Python supports the usual logical conditions from mathematics:

*   Equals: a == b
*   Not Equals: a != b
*   Less than: a < b
*   Less than or equal to: a <= b
*   Greater than: a > b
*   Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in **if statements** and **loops**.

An *if statement* is written by using the **`if`** keyword.

**Task**

Let's check if you are allowed to order a beer tonight.

In [0]:
# check if you are over 21
if my_age >= 21:
  print ("Enjoy your beer!")

The **`elif`** keyword is python's way of saying *if the previous conditions were not true, then try this condition*.

In [0]:
if my_age > 21:
  text = "Enjoy your beer!" 
elif my_age    : # <--- edit the code in order to check if age is equal to 21
  text = "Free beer for you!"

print () # <--- edit the code in order to print the message

Enjoy your beer!

The **`else`** keyword catches anything which isn't caught by the preceding conditions.

In [0]:
if my_age > 21:
  text = "Enjoy your beer!" 
elif my_age     :     # <--- edit the code so that program gives appropriate message
  text = "You are 21! Free beer for you!"
else:
  text = "" # <--- edit the code so that program gives appropriate message

print ()   # <--- edit the code in order to print the message

Enjoy your beer!

## 4. More about List

We can access the list items by referring to the index number. The first element's intex is **0** :

In [0]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[0])

apple

**Task**

Try printing the 4th element in the **`fruits`**.

**Range of Indexes**
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [0]:
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [0]:
# try this code
print(fruits[:5])   # [:5] means everything before 5th element

['apple', 'banana', 'cherry', 'orange', 'kiwi']

## 5.Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [0]:
numbers = [1,2,3,4,5]
for x in numbers:
    print("number:", x)

number: 1
number: 2
number: 3
number: 4
number: 5

**Task** 

We already have a list of **`fruits`**, let's print each `fruit` separately.

**Operations with loops**

We can even do operations with the help of loops. Let's add **`10`** to each **`x`** in **`numbers`**

In [0]:
for x in numbers:
    y = x+10
    print("new number:", y)

new number: 11
new number: 12
new number: 13
new number: 14
new number: 15

### `while` loops:

With the **`while`** loop we can execute a set of statements as long as a condition is **`True`**. The **`while`** loop requires relevant variables to be ready, in the example below we need to define an indexing variable, **`i`**, which we set to **`1`**.

Now let's count to **`10`** using **`while`** loop

In [0]:
i = 1
while i <= 10:
    print(i)
    i = i + 1
    
print("done")

1
2
3
4
5
6
7
8
9
10
done

## Useful Links and References 

---

https://www.w3schools.com/python/default.asp - Friendly Python Tutorial\
http://www.python.org - The official web page of the Python programming language.\
https://docs.anaconda.com/anaconda/install/ - Source for Installation of Anaconda\
https://www.datacamp.com/onboarding/learn?technology=python - Python Course\
https://automatetheboringstuff.com/ - Book on Automation of boring stuff with Python\
https://checkio.org/ - Website to practice Python in gaming mode